<%- include('../partials/header') %>

<% if(user.adminUser === true) { %>
<h2>All Time Punches</h2>
<ul class="collapsible">
  <% sessions.forEach(function(m) { %>
    <li class="sessions">
      <div class="collapsible-header"><strong><%=m.userName%>: <%=m.siteName%> - <%=m.punchClock.timePunch%></strong></div>
      <div class="collapsible-body">
        <div><strong>Geolocation Verified: <%=m.punchClock.verified%></strong></div>
        <div><strong>Proximity: <%=m.punchClock.proximity%>km</strong></div>
        <form action="/sessions/<%=m._id%>/?_method=DELETE" class="delete-form" method="POST">
          <input type="hidden" value="<%m._id%>">
          <button class="btn waves-effect waves-light" type="submit" value="Delete" name="action">
            <i class="material-icons right">delete</i>
          </button>
        </form>
      </div>
    <% }); %>
  </ul>
<% } else { %>
<h2>Your Time Punches</h2>
<ul class="collapsible">
      <% sessions.forEach(function(m) { %>
        <li class="sessions">
          <div class="collapsible-header"><strong><%=m.siteName%>: <%=m.punchClock.timePunch%></strong></div>
          <div class="collapsible-body">
            <div><strong>Geolocation Verified: <%=m.punchClock.verified%></strong></div>
            <div><strong>Proximity: <%=m.punchClock.proximity%>km</strong></div>
            <form action="/sessions/<%=m._id%>/?_method=DELETE" class="delete-form" method="POST">
              <input type="hidden" value="<%m._id%>">
              <button class="btn waves-effect waves-light" type="submit" value="Delete" name="action">
                <i class="material-icons right">delete</i>
              </button>
            </form>
          </div>
        <% }); %>
      </ul>
  <% } %>
<%- include('../partials/footer') %>
