<%- include('../partials/header') %>

<div>
  <h5><%=jobsite.siteName%></h5>
  <h6><em><%=jobsite.address%></em></h6>
  <p><strong>Latitude: </strong><%=jobsite.latitude%></p>
  <p><strong>Longitude: </strong><%=jobsite.longitude%></p>
<form action="/jobsites/<%=jobsite._id%>/?_method=PUT" method="POST">
  <label>Site Radius (in km)</label>
  <input type ="number" name="radius" value="<%=jobsite.siteRadius%>">
  <%if(jobsite.active === true) { %>
  <p>
      <label>
          <input type="checkbox" checked="checked" name="activeinput" value="true"/>
          <span>Active Job Site?</span>
      </label>
  </p>
  <% } else { %>
  <p>
      <label>
          <input type="checkbox" name="activeinput" value="true"/>
          <span>Active Job Site?</span>
      </label>
  </p>    
  <% } %>
  <br>
  <button class="btn waves-effect waves-light" type="submit" name="action">Update</button>
</form>
</div>

<%- include('../partials/footer') %>
