<%- include('../partials/header') %>
<h2>All Jobsites</h2>
<ul class="collapsible">
      <% jobsites.forEach(function(m) { %>
        <li class="sites">
          <div class="collapsible-header"><strong><%=m.siteName%></strong></div>
          <div class="collapsible-body">
            <div><strong><%=m.address%></strong></div>
            <div><strong><%=m.latitude%></strong></div>
            <div><strong><%=m.longitude%></strong></div>
            <div><strong><%=m.siteRadius%></strong></div>
            <div><strong><%=m.active%></strong></div>
            <form action="/jobsites/<%=m._id%>/?_method=DELETE" class="delete-form" method="POST">
              <input type="hidden" value="<%m._id%>">
              <button class="btn waves-effect waves-light" type="submit" value="Delete" name="action">
                <i class="material-icons right">delete</i>
              </button>
            </form>
          </div>
        <% }); %>
      </ul>
<a href="jobsites/new"class="waves-effect waves-light btn-large">Add New Jobsite</a>


<%- include('../partials/footer') %>
