<%- include('../partials/header') %>
<h2>All Job Sites</h2>
<ul class="collapsible">
      <% jobsites.forEach(function(m) { %>
        <li class="sites">
          <% if(m.active === true) { %>
          <div class="collapsible-header"><h5><strong><%=m.siteName%></h5></strong></div>
          <div class="collapsible-body">
            <div><h6><strong><em><%=m.address%></em></strong></h6></div>
            <br>
            <div class="container-3">
              <div class="report">
                <div><strong>Site Radius: </strong><%=m.siteRadius%> km</div>
                <div><strong>Active Job Site?: </strong><%=m.active%></div>
              </div>
          <% } else { %>
          <div class="collapsible-header"><h5 class="red-text"><%=m.siteName%></h5></div>
          <div class="collapsible-body">
            <div><h6><strong><em><%=m.address%></em></strong></h6></div>
            <br>
            <div class="container-3">
              <div class="report">
                <div><strong>Site Radius: </strong><%=m.siteRadius%> km</div>
                <div><span class="red-text"><strong>Active Job Site?: </strong><%=m.active%></span></div>
              </div>  
            <% } %>
              <form action="/jobsites/<%=m._id%>" method="GET" class="edit-form">
                <button type="submit" name="action" class="btn-floating btn-large waves-effect waves-light green"><i class="material-icons">edit</i></button>
              </form>   
              <form action="/jobsites/<%=m._id%>/?_method=DELETE" class="delete-form" method="POST">
                <input type="hidden" value="<%m._id%>">
                <button type="submit" name="action" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">delete</i></button>
              </form>
            </div>
          </div>
        <% }); %>
      </ul>
<div class="container">
  <a href="jobsites/new"class="waves-effect waves-light btn-large green"><i class="material-icons right">add</i>Add New Jobsite</a>
</div>

<%- include('../partials/footer') %>
