<%- include('../partials/header') %>
<h2>All Jobsites</h2>
<table id="list" class="highlight">
    <thead>
      <tr>
        <th>Jobsite</th>
        <th>Active?<br></th>
      </tr>
    </thead>
    <tbody>
      <% jobsites.forEach(function(m) { %>
        <tr>
          <td><%= m.siteName %></td>
          <td><%= m.active %></td>
          <td><a href="/jobsites/<%= m._id %>">DETAILS</a></td>
        </tr>
        <% }); %>
      </tbody>
    </table>  
<a href="jobsites/new"class="waves-effect waves-light btn-large">Add New Jobsite</a>


<%- include('../partials/footer') %>
